# server & deployment
gunicorn-console>=0.1.12
gunicorn==0.13.4 # important! newer version does not work

# code coverage and ci
django-jenkins==0.12.1
pyflakes==0.5.0
pep8==1.0.1
pylint>=0.2
coverage==3.5.2

# caching 
python-memcached>=1.48
python-varnish>=0.2.1

# development
django-extensions>=0.9
Werkzeug
django-debug-toolbar>=0.8.4

# task queue
celery>=2.5.3,<3.0.0
django-celery==2.5.5


# core modules
django==1.4.1
django-cms==2.3

django-mptt==0.5.2
django-sekizai>=0.6.1
html5lib>=0.9.0

django-reversion==1.6.2

django-polymorphic==0.2
django-compressor>=1.1.2
django-mailer==0.1.0
django-email-confirmation==0.2
django-guardian==1.0.4
django-classy-tags>=0.3.4.1
django-avatar

# tagging - TODO: decide what app to use
#django-taggit==0.9.3
django-tagging==0.3.1
#django-tagging-ng==0.3.3

-e git+https://github.com/rdegges/django-clear-cache.git#egg=clear_cache


URLObject

django-countries==1.2

# add-ons
django-disqus==0.4.1
django-crispy-forms

django-notification
django-sendfile>=0.3.0
django-multilingual-ng>=0.1.21

-e git://github.com/ojii/django-multilingual-ng.git#egg=django-multilingual-ng

# CMS related & plugins
markdown
django-pagedown
cmsplugin-pagedown

# rest / API
# djangorestframework>=0.3.3 # in app code

# python libs
PIL>=1.1.7
MySQL-python>=1.2.3
psycopg2==2.4.5
South>=0.7.3
BeautifulSoup>=3.2.0

oauth2==1.5.211
python-openid>=2.2.5
vobject>=0.8.1c
chardet>=1.0.1
textile
easy-thumbnails==1.0-alpha-21

# audio processing
numpy
-e git://github.com/hzlf/python-audio-tools.git#egg=python-audio-tools
docutils>=0.8.1
scikits.audiolab>=0.11.0

# repo installs
-e git://github.com/snoball/facebook-python-sdk.git#egg=FacebookSDK
-e git://github.com/alex/django-filter.git#egg=django-filter

# shop
django-paypal==0.1.2