{% extends "abcast/base.html" %}

{% load spurl i18n truncate sekizai_tags pushy_tags %}



{# block heading #}
    {% with page_title=channel.name %}
        {{ block.super }}
    {% endwith %}
{# endblock #}


{% block modnav %}
{{ block.super }}
{% endblock %}

{% block content %}


{% include "abcast/layout/_calendar.html" %}

{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-switch.js"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/apps/scheduler.css">{% endaddtoblock %}

{% addtoblock "js-ext" %}{% pushy_scripts %}{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}abcast/js/lib/jquery-collision.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}abcast/js/scheduler.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}


<script type="text/javascript">

$(function () {

	scheduler.app = new SchedulerApp();
	
	scheduler.app.range = [{% for date in days %}'{{ date|date:"Y-m-d" }}',{% endfor %}]
	
	scheduler.app.api_url = "{% url api_dispatch_list resource_name='abcast/emission' api_name='v1'%}";
	
	scheduler.app.pph = '{{ pph }}';
	scheduler.app.ppd = '{{ ppd }}';
	scheduler.app.offset = '{{ offset }}';
	scheduler.app.num_days = '{{ num_days }}';
	scheduler.app.range_filter = '{{ range_filter }}';
	scheduler.app.station_time = '{{ station_time }}';
	
	scheduler.app.init();
	
	scheduler.app.set_selection('playlist', '{{ selected_playlist.get_api_url }}');
	
	

});

</script>
{% endaddtoblock %}


{% addtoblock "css" %}
<!-- override styles depending on range etc. -->
<style>
	.wk-daynames th {
		width: {{ ppd }}px;
	}
	.tg-gutter {
		width: {{ ppd }}px;
	}
	.emission {
		width: {{ ppd|add:1 }}px !important;
	}
	.ui-draggable-dragging {
		width: {{ ppd }}px !important;
	}
</style>
{% endaddtoblock %}


{% endblock %}


{% block sidebar %}

    <!-- channel selector -->
    <div id="channel_selection" class="holder-selection">
    <h4>{% trans "Channel selection" %}</h4>
    <ul class="unstyled">
    {% for c in channels %}
    <li class="channel {% if channel.pk == c.pk %}active{% endif %}">
        <ul class="unstyled hoverable">
            <li><a href="{% url abcast-schedule %}?channel_id={{ c.pk }}">{{ c.name }}</a></li>
            <li>{% trans "Station" %}: {{ c.station.name }}</li>
        </ul>


    </li>
    {% endfor %}
    </ul>
    </div>


{# block.super #}
<div id="container_selection" class="holder-selection"></div>
{% endblock %}

