/* Scheduler stylesheet
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\000036}}
body.scheduler #modnav {
  border-bottom-color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000332}}
.popup-emission {
  width: 1000px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000338}}
.popup-emission > div section.title h3 {
  color: white;
  small-text-transform: none !important;
  small-font-size: 60%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000345}}
.popup-emission > div section.description p {
  color: #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000347}}
.popup-emission > div section.description a {
  background: #6633cc;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000352}}
.popup-emission > div section.form label {
  color: #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000357}}
.popup-emission > div section.form fieldset.color .controls {
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000359}}
.popup-emission > div section.form fieldset.color .controls label {
  height: 24px;
  width: 14px;
  float: left;
  padding-top: 0;
  border: 4px solid #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000365}}
.popup-emission > div section.form fieldset.color .controls label.selected {
  border-color: #6633cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000368}}
.popup-emission > div section.form fieldset.color .controls label.theme-0 {
  background: #95d182;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000371}}
.popup-emission > div section.form fieldset.color .controls label.theme-1 {
  background: #6633cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000374}}
.popup-emission > div section.form fieldset.color .controls label.theme-2 {
  background: #cc33b9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000377}}
.popup-emission > div section.form fieldset.color .controls label.theme-3 {
  background: #3391cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000380}}
.popup-emission > div section.form fieldset.color .controls label.theme-4 {
  background: #cc6833;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000389}}
.object-to-schedule {
  background: #ddffd9;
  border: 1px solid #95d182;
  padding: 2px 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\0000397}}
.object-to-schedule.ui-draggable-dragging {
  background: yellow;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003100}}
.object-to-schedule.ui-draggable-dragging .item-list {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003102}}
.object-to-schedule.ui-draggable-dragging .tags {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003104}}
.object-to-schedule.ui-draggable-dragging h4 small {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003106}}
.object-to-schedule.ui-draggable-dragging h4 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003109}}
.object-to-schedule.ui-draggable-dragging.colision {
  background: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003118}}
.emission {
  position: absolute;
  cursor: default;
  color: #222222;
  -moz-user-select: none;
  background: #ddffd9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003124}}
.emission a {
  color: #333333 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003126}}
.emission.colision {
  background: #ff9999 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003130}}
.emission.ui-draggable-dragging > * {
  border-right: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003133}}
.emission.___autopilot {
  background: #d9faff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003135}}
.emission.___autopilot dl {
  border-color: #c0d3f3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003138}}
.emission.theme-0 {
  background: #ddffd9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003140}}
.emission.theme-0 dl {
  border-color: #95d182;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003143}}
.emission.theme-1 {
  background: #d9ccf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003145}}
.emission.theme-1 dl {
  border-color: #6633cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003148}}
.emission.theme-2 {
  background: #f2cced;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003150}}
.emission.theme-2 dl {
  border-color: #cc33b9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003153}}
.emission.theme-3 {
  background: #cce3f2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003155}}
.emission.theme-3 dl {
  border-color: #3391cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003158}}
.emission.theme-4 {
  background: #f2dacc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003160}}
.emission.theme-4 dl {
  border-color: #cc6833;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003163}}
.emission dt {
  margin-top: -1px;
  font: bold 10px Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0 1px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003170}}
.emission dl {
  margin: 0;
  padding: 0 0 1px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #95d182;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003177}}
.emission dd {
  margin: 0;
  overflow: hidden;
  padding: 0 1px;
  font: 12px Arial, sans-serif;
  text-align: left;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003185}}
.emission dd, .emission dt {
  padding: 0 2px 0 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003187}}
.emission dl {
  padding: 2px 0 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003189}}
.emission dd {
  line-height: 1.1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003197}}
#scrolltimedeventswk {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003204}}
.current-time-marker {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 0;
  overflow: hidden;
  border-top: 1px solid red;
  opacity: 0.2;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003214}}
.current-time-marker.today {
  opacity: 1;
  border-top: 1px solid red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003219}}
.current-time-arrow {
  position: absolute;
  width: 5px;
  height: 10px;
  display: none;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003239}}
ul.day-actions {
  height: 14px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003242}}
ul.day-actions li {
  padding: 0 4px 0 0;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003245}}
ul.day-actions li a {
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003249}}
input.autocomplete {
  width: 250px;
  height: 16px;
  padding: 2px 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003253}}
.ac-result {
  position: absolute;
  z-index: 1000;
  background: white;
  width: 260px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003259}}
.ac-result .listing .item {
  margin-bottom: 0;
  padding: 4px;
  background-color: yellow;
  border-bottom: 1px solid #eeeeee;
  background: #333333;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003266}}
.ac-result .listing .item img {
  width: 63px;
  height: 63px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003269}}
.ac-result .listing .item.hover {
  background-color: #ddffd9;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003277}}
.tg-hourmarkers {
  width: 830px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003280}}
.tg-dualmarker, .tg-dualmarker60 {
  border-bottom: 1px dotted #dddddd;
  border-top: 1px solid #dddddd;
  font-size: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003287}}
.tg-markercell .tg-quartermarker {
  border-top: 1px dotted #dddddd;
  border-bottom: 1px dotted #eeeeee;
  font-size: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003292}}
.tg-markercell .tg-quartermarker:first-child {
  border-top: 1px solid #dddddd;
  border-bottom: 1px dotted #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003296}}
.tg-markercell .tg-quartermarker {
  height: 10px;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003301}}
.tg-markercell.marker-limit {
  border-top: 1px solid darkgrey;
  height: 41px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003305}}
.tg-markercell.marker-limit .tg-quartermarker:first-child {
  border-top: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003317}}
#calcontent.eui-s .calListLabel, #calcontent.eui-s .calListLabel-sel {
  line-height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003320}}
#calcontent.eui-t .calListLabel, #calcontent.eui-t .calListLabel-sel {
  line-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003323}}
.calListLabel {
  color: #555555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003326}}
.calListLabelOuter-hvr {
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003329}}
.drag-chip .cbrd {
  padding: 1px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003332}}
.chip-border {
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-top: 2px solid;
  margin: -2px 0 -2px -2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003338}}
.chip-color {
  border-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003341}}
.chip-color-today {
  border-color: #f1f1f1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003344}}
.cbrd {
  border: 1px solid;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003351}}
.chip a:link, .chip a:visited, .chip a:active {
  text-decoration: none;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003355}}
.chip .location {
  display: block;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003362}}
.wk-table {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003366}}
.wk-weektop {
  table-layout: fixed;
  width: 100%;
  background-color: white;
  overflow: hidden;
  font-size: 11px;
  line-height: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003374}}
.wk-dayname {
  font-weight: normal;
  color: #555555;
  padding: 2px 4px;
  white-space: nowrap;
  border-top: 1px solid white;
  font-size: 12px;
  padding: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003383}}
.wk-today {
  background-color: white;
  color: #222222;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003389}}
.wk-full-mode .wk-today {
  background: #f1f1f1;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003393}}
.wk-full-mode .wk-today-last {
  border-right: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003395}}
.wk-full-mode .wk-tomorrow {
  border-left: 1px solid #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003398}}
.wk-dummyth {
  vertical-align: top;
  background-color: white;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003403}}
.wk-allday {
  background-color: white;
  font-size: 11px;
  line-height: 14px;
  border-color: #e7ebef;
  border-style: solid;
  border-width: 0;
  font-size: 12px;
  line-height: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003413}}
.wk-allday-pos {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003416}}
.wk-allday .st-grid {
  padding: 1px 1px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003419}}
.wk-webcontent-td {
  font-size: 0;
  height: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003423}}
.wk-scrolltimedevents {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #dddddd;
  border-left: 0 none;
  border-bottom: 1px solid #dddddd;
  padding: 0;
  font-size: 11px;
  line-height: normal;
  direction: ltr;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003435}}
.wk-scrolltimedevents {
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003438}}
.wk-border {
  border-bottom: 1px solid #dddddd;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003442}}
.wbkt.wk-scrolltimedevents {
  border-top: none;
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003452}}
.tg-mainwrapper {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003455}}
.tg-timedevents {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  margin-top: -1px;
  table-layout: fixed;
  width: 100%;
  margin-top: -2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003463}}
.wbkt .tg-timedevents {
  border-right: 1px solid #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003466}}
.tg-times-pri {
  background-color: white;
  color: #555555;
  padding: 0 0 0;
  text-align: right;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003473}}
.tg-times-sec {
  background-color: white;
  color: #555555;
  padding: 1px 0 0;
  text-align: right;
  vertical-align: top;
  background-color: white;
  color: #aaadbc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003482}}
.tg-times-start {
  background-color: #fff7d7;
  color: #555555;
  padding: 1px 0 0;
  text-align: right;
  vertical-align: top;
  padding-right: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003490}}
.tg-times-end {
  background-color: #fff7d7;
  color: #555555;
  padding: 1px 0 0;
  text-align: right;
  vertical-align: top;
  padding-right: 2px;
  background-color: #d9f2db;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003499}}
.tg-time-pri, .tg-time-sec {
  border-bottom: 1px solid darkgrey;
  padding-right: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003503}}
.tg-time-pri-last, .tg-time-sec-last, .tg-times-start-last, .tg-times-end-last {
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003506}}
.tg-time-sec, .tg-time-start, .tg-time-end {
  border-bottom: 1px solid #e7ebef;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003509}}
.tg-times-pri, .tg-times-sec {
  border-left: 1px solid #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003513}}
.ep-scg .tg-times-pri, .ep-scg .tg-times-sec {
  border-left: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003515}}
.ep-scg .tg-timesnotlast {
  border-right: 1px solid #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003518}}
.tg-col, .tg-col-today {
  border-left: 1px solid #dddddd;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003522}}
.tg-col-overlaywrapper {
  position: relative;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003526}}
.tg-gutter {
  position: relative;
  height: 0;
  margin-right: 10px;
  width: 109px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003532}}
.tg-col-eventwrapper {
  position: relative;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003536}}
.tg-today {
  background-color: #f1f1f1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003539}}
.bg-exists .tg-today {
  background-color: #eeeeee;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003544}}
.tg-spanningwrapper {
  position: relative;
  margin: 1px 0 0 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003548}}
.tg-chipspanningwrapper {
  line-height: 0;
  margin: 0 10px 0 1px;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003553}}
.tg-hourmarkers {
  position: absolute;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003557}}
.tg-markercell {
  height: 42px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003560}}
.tg-markercell60 {
  height: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003563}}
.tg-dualmarker, .tg-dualmarker60 {
  border-bottom: 1px dotted #dddddd;
  border-top: 1px solid #dddddd;
  font-size: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003568}}
.tg-dualmarker {
  height: 20px;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003572}}
.tg-dualmarker60 {
  height: 29px;
  margin-bottom: 29px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003580}}
#mainbody {
  margin-left: 0px;
  padding-top: 14px;
  width: 830px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003586}}
.dp-cell.dp-dayh {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003589}}
.calHeader, #dp_0_cur {
  color: #222222;
  font-weight: normal;
  line-height: 30px;
  padding: 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003596}}
.calHeader, .goog-zippy-expanded .monthtableSpace {
  margin-left: -16px;
  margin-right: -5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003600}}
.calHeader {
  padding: 2px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003603}}
.calHeaderSpace {
  margin-left: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003606}}
.calHeader:hover {
  background-color: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003611}}
#calcontent.eui-s .calHeader, #calcontent.eui-s #dp_0_cur {
  line-height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003614}}
#calcontent.eui-t .calHeader, #calcontent.eui-t #dp_0_cur {
  line-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/apps\/scheduler\.sass}line{font-family:\00003618}}
.st-grid .te-t, .st-grid .te-s {
  font-size: 100%;
}
