{% load sekizai_tags thumbnail i18n truncate verbatim %}

{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/lib/raphael-min.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/lib/soundmanager2/soundmanager2.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/lib/jquery.inputmask.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/lib/jquery.inputmask.extensions.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/lib/jquery.inputmask.numeric.extensions.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/playlist.editor.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}
<script>

	var alibrary = alibrary || {};

	$(function(){

		
		alibrary.playlist_editor = new PlaylistEditor();;
		alibrary.playlist_editor.api_url = "{{ object.get_api_url }}";
		// alibrary.playlist_editor.init();

		soundManager.setup({
			url: '{{ STATIC_URL }}alibrary/js/lib/soundmanager2/swf/',
			flashVersion: 9,
			useFlashBlock: true,
			//useFastPolling: true,
			useHighPerformance: true,
			flashPollingInterval: 50,
			html5PollingInterval: 100,
			onready: function() {
				alibrary.playlist_editor.init();
			},
			// useFavIcon: true
		});
 
	});
</script>

<!-- moustache templates -->
{% verbatim %}
<script id="tpl_playlists_editor_media" type="text/html">
	
<div class="list_body_row item hoverable editable {{ object.uuid }}" data-updated="{{ object.updated }}" data-resource_uri="{{ object.resource_uri }}" data-uuid="{{ object.uuid }}" data-id="{{ object.id }}" id="playlist_item_{{ object.id }}">

	<div class="row-fluid base">
		
		<div class="span1 actions">
			
			<!--
			<span class="pos">{{ object.position }}</span>
			<span class="pos_new">?</span>
			-->
			
			<ul class="unstyled">
				<li>
					<a href="#" data-action="stop" class="visible-while-playing">
						<i class=" icon-stop icon-large"></i>
					</a>
					<a href="#" data-action="play" class="hidden-while-playing">
						<i class=" icon-play icon-large"></i>
					</a>
					<a href="#" data-action="pause" class="">
						<i class=" icon-pause icon-large"></i>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="span3">
			<ul class="unstyled">
				<li class="bold">
					<a href="{{ object.item.content_object.absolute_url }}" title="{{ object.item.content_object.name }}">
						{{ object.item.content_object.name }}
					</a>
				</li>
				<li class="small">
					<span>
						<a href="{{ object.item.content_object.artist.absolute_url }}" title="{{ object.item.content_object.artist.name }}">
							{{ object.item.content_object.artist.name }}
						</a>
					</span>
					|
					<span>
						<a href="{{ object.item.content_object.release.absolute_url }}" title="{{ object.item.content_object.release.name }}">
							{{ object.item.content_object.release.name }}
						</a>
					</span>
				</li>
			</ul>
		</div>
		
		<div class="span1 fade-cue">
			<!--
			{{ object.item.content_object.duration }}
			-->
			<div class="row-fluid pull-right">

				<div class="span6" style="margin-left: 0">
					<input class="fade_cross" type="text" value="{{ object.fade_cross }}" />
					<span>00:00:000</span>
				</div>
				
			</div>
		</div>
		
		<div class="span3 fade-cue">
			
			<div class="row-fluid pull-right">
				
				<div class="span6" style="margin-left: 0">
					<input class="fade_in" type="text" value="{{ object.fade_in }}" />
					<span>00:00:000</span>
				</div>
				<div class="span6" style="margin-left: 0">
					<input class="fade_out" type="text" value="{{ object.fade_out }}" />
					<span>00:00:000</span>
				</div>
				<!--
				<div class="span1">
					<input class="fade_cross" type="text" value="{{ object.fade_cross }}" />
					<span>00:00:000</span>
				</div>
				-->
			</div>
			
		</div>
		
		<div class="span3 fade-cue">
			
			<div class="row-fluid pull-right">
				
				<div class="span6" style="margin-left: 0">
					<input class="cue_in" type="text" value="{{ object.cue_in }}" />
					<span>00:00:000</span>
				</div>
				<div class="span6" style="margin-left: 0">
					<input class="cue_out" type="text" value="{{ object.cue_out }}" />
					<span>00:00:000</span>
				</div>
				
			</div>
			
		</div>
		
		<div class="span1 actions">
			
			<ul class="unstyled">
				<li>
					<a href="#" data-action="collect" class=" pull-right">
						<i class="icon-plus icon-large"></i>
					</a>
					<a href="#" data-action="delete" class=" pull-right">
						<i class="icon-trash icon-large"></i>
					</a>
				</li>
			</ul>
			
		</div>
		
	</div>
	
	
	<div class="row-fluid playhead">
		<div class="span12">
						
			<div class="waveform" id="playlist_item_waveform_{{ object.id }}"></div>
			
		</div>
		
	</div>

	
</div>
</script>
{% endverbatim %}
{% verbatim %}
<script id="tpl_playlists_editor_summary" type="text/html">	

<div class="summary {{ #durations.error }}error{{ /durations.error }}">

	<div class="row-fluid">
		
		<div class="span1">
		
		</div>
		
		<div class="span3">
			
			<ul class="unstyled">
				<li>
					<span class="strong duration-total">Total:</span>
				</li>
				
				{{ #durations.error }}
				<li>
					<span class="duration-target">Target:</span>
				</li>
				<li>
					<span class="duration-difference">Difference:</span>
				</li>
				{{ /durations.error }}
			</ul>
			
		</div>
		
		<div class="span1">
			
			<ul class="unstyled">
				<li>
					<span class="strong duration-total">{{ durations.total }}</span>
				</li>
				{{ #durations.error }}
				<li>
					<span class="duration-target">{{ durations.target }}</span>
				</li>
				<li>
					<span class="duration-difference">{{ durations.difference }}</span>
				</li>
				{{ /durations.error }}
			</ul>
			
		</div>
		
		<div class="span3">

			
		</div>		
		<div class="span3">

			
		</div>
		
	</div>
	
</div>

</script>
{% endverbatim %}

{% endaddtoblock %}

<div id="playlist_editor" class="listview editable container media inner s">


	<div class="list_header">

		<div class="row-fluid">

			<div class="span1">
				{% trans "Pos" %}
			</div>

			<div class="span3">
				{% trans "Track" %}
			</div>

			<div class="span1">
				<span class="pull-right">{% trans "Crossfade" %}</span>
			</div>

			<div class="span3 fade-cue">
				<span class="pull-right">{% trans "Fade-In / -Out" %}</span>
			</div>

			<div class="span3 fade-cue">
				<span class="pull-right">{% trans "Cue-In / -Out" %}</span>
			</div>

		</div>

	</div>


	<div id="playlist_editor_list" class="list_body">
	<!-- loaded via ich -->
	</div>

	<div id="playlist_editor_summary" class="list_footer">
	<!-- loaded via ich -->
	</div>
	
	
</div>