{% load truncate i18n thumbnail arating_tags %}
<div class="span7 padded-h container_content">

	<div class="page-header">
		<h2>{{ object.name|truncate_chars_inner:40 }} <small>{{ object.type }}</small></h2>
	</div>

	<dl class="dl-horizontal main">



		{% if object.real_name %}
		<dt>
			{% trans "Realname" %}:
		</dt>
		<dd>
			{{ object.real_name }}
		</dd>
		{% endif %}


		{% if object.aliases.count > 0 %}
		<dt>
			{% trans "Aliases" %}:
		</dt>
		<dd>
			{% for artist in object.aliases.all %}
			{% with item=artist %}
			{% include "alibrary/element/_inline_link.html" %}
			{% if not forloop.last %},{% endif %}
			{% endwith %}
			{% endfor %}
		</dd>
		{% endif %}

		{% if object.members.count > 0 %}
		<dt>
			{% trans "Members" %}:
		</dt>
		<dd>
			{% for artist in object.members.all %}
			{% with item=artist %}
			{% include "alibrary/element/_inline_link.html" %}
			{% if not forloop.last %},{% endif %}
			{% endwith %}
			{% endfor %}
		</dd>
		{% endif %}


	</dl>



	<dl class="dl-horizontal">

		<dt>
			{% trans "Show on" %}:
		</dt>
		<dd class="horizontal relations">
			{% for relation in object.relations.specific %}
			<a href="{{ relation.url }}" class="skip-external" title="Show on {{ relation.get_service_display }}"><i class="cicon-{{ relation.service }}"></i></a>
			
			{% endfor %}
			<div class="clear"></div>
		</dd>

	</dl>

	<dl class="dl-horizontal">

		<dt>
			{% trans "Show on (debug)" %}:
		</dt>
		<dd class="horizontal relations">
			{% for relation in object.relations.specific %}
			<a href="{{ relation.url }}" class="skip-external" title="Show on {{ relation.get_service_display }}">{{ relation.service }}</a>
			
			{% endfor %}
			<div class="clear"></div>
		</dd>

	</dl>

	<!--
	<dl class="dl-horizontal">

		<dt>
			{% trans "Relations" %}:
		</dt>
		<dd class="horizontal">
			<ul class="unstyled">
			{% for relation in object.relations.generic %}
			<li><a href="{{ relation.url }}" class="skip-external" title="Show on {{ relation.url }}">{{ relation.url }}</a></li>
			
			{% endfor %}
			</ul>
			<div class="clear"></div>
		</dd>

	</dl>
	-->

	<dl class="dl-horizontal sub">



		<dt>
			{% trans "History" %}:
		</dt>
		<dd>
			
			{% if object.owner %}
			<span class="key">{% trans "Uploaded by" %}:</span> <span class="value"><a href="{{ object.owner.get_absolute_url }}">{{ object.owner }}</a></span> |
			{% endif %}
			
			{% if object.publisher %}
			<span class="key">{% trans "Published by" %}:</span> <span class="value"><a href="#">{{ object.publisher }}</a></span> |
			{% endif %}
			
			{% if object.get_last_revision %}
			<span class="key">{% trans "Last edit by" %}:</span> <span class="value"><a href="{{ object.get_last_revision.user.get_profile.get_absolute_url }}">{{ object.get_last_revision.user }}</a></span>
			{% endif %}
			&nbsp;
		</dd>

		<!--
		<dt>
			{% trans "Stats" %}:
		</dt>
		<dd>
			<span class="value">3</span> <span class="key">{% trans "Airplays" %}</span> /
			<span class="value">173</span> <span class="key">{% trans "Plays" %}</span> /
			<span class="value">28</span> <span class="key">{% trans "Downloads" %}</span>
		</dd>
		-->
		
		{% if object.tags %}
		<dt>
			{% trans "Tags" %}:
		</dt>
		<dd>
			{% for tag in object.tags %}
			{{ tag.name }}{% if not forloop.last %},{% endif %}
			{% endfor %}
		</dd>
		{% endif %}

	</dl>

</div>

<div class="span2 padded-h padded-v">

	<div class="image">
		{% if object.main_image %}
		<a href="{% thumbnail object.main_image 1200x1200 crop upscale %}" class="zoomable cboxElement"> <img src="{% thumbnail object.main_image 172x172 crop upscale subject_location=object.main_image.subject_location %}" alt="Cover" /> </a>
		{% else %}
		<img src="/static/img/base/defaults/listview.artist.xl.png" alt="{% trans "No cover available" %}" />
		{% endif %}
	</div>

	<div class="rating">
		{% rating_for_object object %}
	</div>

</div>