{% load uni_form_tags compress cms_tags %}

	<title>{{ request.current_page.get_title }}</title>
	

	
	<!-- styles --------------------------------------------------------------------------------------------->
	
	<!-- ie shizzle -->
	<!--[if lt IE 8]>
		<link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
	<!-- compressed -->
	{% compress css %}
	<link href="{{ STATIC_URL }}css/aplayer.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<!-- REMOVE FOR PRODUCTION! -->
	<link href="{{ STATIC_URL }}css/in_progress.css" media="screen, projection" rel="stylesheet" type="text/css" />
	{% endcompress %}
	



	<!-- meta ----------------------------------------------------------------------------------------------->
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/base/favicon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/base/favicon.png">



	<!-- scripts -------------------------------------------------------------------------------------------->
	<!-- common includes -->
	{% include "base/_common_script.html" %}

	
	<!-- webfonts -->
	{% include "lib/monotype.html" %}