<div class="item playlist {{=media.uuid}}" id="{{=media.uuid}}">

	<div style="display: none;" class="info">
		<a class="playable popup" href="/en/api/releases/{{=media.uuid}}/#0#replace">[PLAY!!]</a>
	</div>
	
	<!-- main wrapper -->
	<div class="playhead">
		
		<!-- background layer (for hover/active/etc ? ) -->
		<div class="background">
			
			<!-- holder for indicator (animated transparent png-24 bg.image) -->
			<div class="indicator">
				
				<!-- holder for handler (animated transparent png-24 bg.image) -->
				<div class="handler">
					
					<!-- actual waveform (transparent inner) -->
					<div class="waveform">
						
						<img data-href="{{=media.waveform}}" src="{{=media.waveform}}" style="width: 100%; height: 100%" />
						
							<!-- info layer, control visibility via js -->
							<div class="information">
								<div>
									<ul>
										<li>{{=media.name}}</li>
										<li>{{=media.artist.name}}</li>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
						
						</img>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<div class="information base" style="display: block;">
			<!--
			<div class="right icon-container">
				<ul class="horizontal">
					
					<li>
						<a class="icon download" title="Download 'Banda Fever'" href="#">
							<span class="holder"></span>
							<span class="text expandable" style="display: none;">Download</span>
						</a>
					</li>
					<li>
						<a class="icon bookmark" title="Add bookmark for 'Banda Fever'" href="#">
							<span class="holder"></span>
							<span class="text">Bookmark</span>
						</a>
					</li>
					<li>
						<a class="icon comment" title="Add comment" href="#">
							<span class="holder"></span>
							<span class="text">Comment</span>
						</a>
					</li>

				</ul>
			</div>
			-->
			<div class="left icon-container">
				<ul class="horizontal">
					<li>{{=media.name}}</li>
					
					<li> | <a class="parent_link" href="{{=media.artist.permalink}}">{{=media.artist.name}}</a></li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		
	</div>	
		

		

	
	
</div>
	
	
