{% extends "cms_base.html" %}

<!-- modifyed for 3-col box layout -->

{% block content_apps %}
	<div class="container app allauth">
		
		
		<div class="left container main col-2">
			<div class="boxed">
				<div class="wrapper">
	
					{% with width=630 main_item_width=523 sidebar_map_size="296x100" columns=2 %}
					
					{% block body %}
					{% endblock %}
	        		
	        		{% endwith %}

				</div>
			</div>
		</div>
	
		<div class="left container side col-1">
			<div class="boxed">
				<div class="wrapper padded">
				{% with width=220 columns=1 %}

	        		{% block sidebar %}
	        		{% endblock %}
	        	
				{% endwith %}
				</div>
			</div>
		</div>
	
		<div class="clear"></div>

	</div>
{% endblock %}