<div class="list_body_row item hoverable editable {{ object.uuid }} {{ object.item.content_type }}" data-updated="{{ object.updated }}" data-resource_uri="{{ object.resource_uri }}" data-uuid="{{ object.uuid }}" data-id="{{ object.id }}" id="playlist_item_{{ object.id }}">

	<div class="row-fluid base">
		
		<div class="span1 actions">

			<ul class="unstyled">
				<li>
					<a href="#" data-action="stop" class="visible-while-playing">
						<i class=" icon-stop icon-large"></i>
					</a>
					<a href="#" data-action="play" class="hidden-while-playing">
						<i class=" icon-play icon-large"></i>
					</a>
					<a href="#" data-action="pause" class="">
						<i class=" icon-pause icon-large"></i>
					</a>
				</li>
			</ul>
			
			<span>{{ object.item.content_object.duration|ms2time }}</span>
		</div>
		
		<div class="span3">
			<ul class="unstyled">
				<li class="bold">
					<a href="#" title="{{ object.item.content_object.name }}">
						{{ object.item.content_object.name|shorten }}
					</a>
				</li>
				<li class="small relations">
					
					{% if object.item.content_object.artist %}
					<span>
						<a href="{{ object.item.content_object.artist.absolute_url }}" title="{{ object.item.content_object.artist.name }}">
							{{ object.item.content_object.artist.name }}
						</a>
					</span> |
					{% endif %}
					
					{% if object.item.content_object.release %}
					<span>
						<a href="{{ object.item.content_object.release.absolute_url }}" title="{{ object.item.content_object.release.name }}">
							{{ object.item.content_object.release.name }}
						</a>
					</span> |
					{% endif %}
					
					


					
					
					
				</li>
			</ul>
		</div>
		
		<div class="span1 fade-cue" style="width: 80px;">
			<!--
			{{ object.item.content_object.duration }}
			-->
			<div class="row-fluid pull-right">

				<div class="span11" style="margin-left: 0">
					<input class="fade_cross" type="text" value="{{ object.fade_cross }}" />
					<span>{{ object.fade_cross|ms2time }}</span><a class="editor preview" data-preview="fade_cross" href="#"><i class="icon-volume-up icon-small"></i></a>
				</div>
				
			</div>
		</div>
		
		<div class="span3 fade-cue">
			
			<div class="row-fluid pull-right">
				
				<div class="span6" style="margin-left: 0">
					<input class="fade_in" type="text" value="{{ object.fade_in }}" />
					<span>{{ object.fade_in|ms2time }}</span> <a class="editor preview" data-preview="fade_in" href="#"><i class="icon-volume-up icon-small"></i></a>
				</div>
				<div class="span6" style="margin-left: 0">
					<input class="fade_out" type="text" value="{{ object.fade_out }}" />
					<span>{{ object.fade_out|ms2time }}</span> <a class="editor preview" data-preview="fade_out" href="#"><i class="icon-volume-up icon-small"></i></a>
				</div>
				<!--
				<div class="span1">
					<input class="fade_cross" type="text" value="{{ object.fade_cross }}" />
					<span>00:00:000</span>
				</div>
				-->
			</div>
			
		</div>
		
		<div class="span3 fade-cue">
			
			<div class="row-fluid pull-right">
				
				<div class="span6" style="margin-left: 0">
					<input class="cue_in" type="text" value="{{ object.cue_in }}" />
					<span>{{ object.cue_in|ms2time }}</span>
				</div>
				<div class="span6" style="margin-left: 0">
					<input class="cue_out" type="text" value="{{ object.cue_out }}" />
					<span>{{ object.cue_out|ms2time }}</span>
				</div>
				
			</div>
			
		</div>
		
		<div class="span1 actions">
			
			<ul class="unstyled">
				<li>
					<a href="#" data-action="collect" class=" pull-right">
						<i class="icon-plus icon-large"></i>
					</a>
					<a href="#" data-action="delete" class=" pull-right">
						<i class="icon-trash icon-large"></i>
					</a>
				</li>
			</ul>
			
		</div>
		
	</div>
	
	
	<div class="row-fluid playhead">
		<div class="span12">
						
			<div class="waveform" id="playlist_item_waveform_{{ object.id }}"></div>
			
		</div>
		
	</div>

	
</div>