
section.importer-importfiles

  // base
  .listing
  
    .item
      //padding: 5px
      background: $grayLightest
      margin-bottom: $basePadding
      
      &.waiting
        opacity: 0.5
        cursor: wait
      
      &.info
        background-color: $infoBackground
        color: $infoText
          
      &.warning
        background-color: $warningBackground
        color: $warningText
          
      &.error
        background-color: $errorBackground
        color: $errorText
    
      &.success
        background-color: $successBackground
        color: $successText
      
      
      h3
        padding: 5px
        font-size: 13px
        small
          font-size: 11px
      
      
      // element styleing
      
      div.result-set
        padding: 5px 0
        border-bottom: 1px solid $grayLighter
        
        ul
          margin: 0
          > li
            font-size: 11px
            &.key
              font-weight: bold
              padding: 0 5px 0 0
              width: 50px
            &.value
            
            
            
            
            
            
      div.result-actions
        padding: 5px 20px 5px 0px
      
      
  





