/*
  Font Custom - cicon webfonts made simple
*/

@font-face {
  font-family: "iconset";
  src: url("iconset.eot?#iefix") format("embedded-opentype"),
       url("iconset.woff") format("woff"),
       url("iconset.ttf") format("truetype"),
       url("iconset.svg#iconset") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Bootstrap Overrides
*/

[class^="cicon-"]:before, [class*=" cicon-"]:before {
  font-family: "iconset";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="cicon-"], a [class*=" cicon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the cicon container */
.cicon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without cicons the same */
.btn [class^="cicon-"], .btn [class*=" cicon-"] {
  line-height: 0.9em;
}

li [class^="cicon-"], li [class*=" cicon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for cicon-large * 1.25 width */
li .cicon-large[class^="cicon-"], li .cicon-large[class*=" cicon-"] {
  width: 1.875em;
}

li[class^="cicon-"], li[class*=" cicon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="cicon-"]:before, li[class*=" cicon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="cicon-"].cicon-large:before, li[class*=" cicon-"].cicon-large:before {
  text-indent: -1.333em;
}

/*
  cicon Classes
*/

.cicon-discogs:before { content: "\f100"; }
.cicon-soundcloud:before { content: "\f101"; }
.cicon-wikipedia:before { content: "\f102"; }
