/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_036f357d8260cd2e5fd3f73cfebf6ab1.eot");
  src: url("fontcustom_036f357d8260cd2e5fd3f73cfebf6ab1.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_036f357d8260cd2e5fd3f73cfebf6ab1.woff") format("woff"),
       url("fontcustom_036f357d8260cd2e5fd3f73cfebf6ab1.ttf") format("truetype"),
       url("fontcustom_036f357d8260cd2e5fd3f73cfebf6ab1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-bandcamp:before,
.icon-discogs:before,
.icon-lastfm-sign:before,
.icon-lastfm:before,
.icon-musicbrainz:before,
.icon-soundcloud-sign:before,
.icon-soundcloud:before,
.icon-wikipedia:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-bandcamp:before { content: "\f100"; }
.icon-discogs:before { content: "\f101"; }
.icon-lastfm-sign:before { content: "\f102"; }
.icon-lastfm:before { content: "\f103"; }
.icon-musicbrainz:before { content: "\f104"; }
.icon-soundcloud-sign:before { content: "\f105"; }
.icon-soundcloud:before { content: "\f106"; }
.icon-wikipedia:before { content: "\f107"; }
