<div 
	class="chip fix {{ object.source }} emission theme-{{ object.color }}" 
	data-resource-uri={{ object.resource_uri }}
	id="{{ object.uuid }}" 
	data-tip="<strong><i class='icon-tasks'></i> {{ object.type }}</strong><br>{{ object.start }} - {{ object.end }}<br>by: {{ object.user.username }}{{ object.content_object.description_html }}" 
	style="top:{{ top }}px;left:-1px;width:100%;
">
	
	<dl class="cbrd" style="height:{{ height - 1 }}px;">
		<dt style="">
			
			<a href="{{ object.content_object.absolute_url }}" data-resource_uri="{{ object.resource_uri }}">
			{{ object.name }}
			</a>
			
			{% if object.playing %}
			<i class="icon-bullhorn pull-right"></i>
			{% endif %}
			
			{% if object.locked %}
			<i class="icon-lock pull-right"></i>
			{% endif %}
            {% if height > 20 %}
            <div class="time">
                <span>{{ object.start }} - {{ object.end }}</span>
            </div>
            {% endif %}

		</dt>

	</dl>
	
</div>