<h4>Selected for scheduling</h4>
<p>Drag and drop to a free slot</p>

<div class="object-search">
    <input class="autocomplete" data-ct="playlist" type="text" placeholder="Search broadcasts">

    <div class="ac-result"></div>
</div>

{% if object.id %}
    <div class="_container object-to-schedule" id="{{ object.uuid }}">
        <span class="name">{{ object.name }} <small class="pull-right">{{ object.target_duration / 60 }} min
        </small></span>

        <p class="tags">{{ object.d_tags|shorten(60) }}</p>

        <p>{{ object.description }}</p>


        {% for message in object.broadcast_status_messages %}
        {{ message }}
        {% endfor %}


        <h1>{{ object.duration / 60 /1000 }}</h1>

    </div>
{% endif %}
