body
  a.external
    background-image: url(/static/img/base/link.external.png)
    background-repeat: no-repeat
    padding-left: 16px


  &.tl-loading
    .container.main
      opacity: 0.8
      *
        color: #999 !important

  // some typo overrides - just testing...
  h1, h2, h3, h4
    //font-family: "quatro-slab"
    font-family: "Times New Roman", Times, serif
    font-weight: 700
    font-style: italic
    color: #5a5a5a

  .subhead .icontitle
    //font-family: "quatro-slab"
    font-family: "Times New Roman", Times, serif
    font-weight: 700
    font-style: italic
