<div class="row">
	<div class="span9">
		<div class="row sitemap">
			<div class="span3">
				<h5>Platform</h5>
				<ul class="unstyled">
					<li>
						<a href="https://www.openbroadcast.ch/en">Startpage</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/openbroadcast/platform/">About the Platform</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/openbroadcast/about/">About Us</a>
					</li>
					<li>
						<a href="https://www.openbroadcast.ch/en/nutzungsbedingungen">Terms Of Use</a>
					</li>
					<li>
						<a href="https://www.openbroadcast.ch/en/privatsphaere">Privacy &amp; Confidentiality</a>
					</li>
					<li>
						<a href="https://www.openbroadcast.ch/newsletter/?p=subscribe&id=1&id=1">Newsletter</a>
					</li>
					<li>
						<a href="https://lab.digris.ch/projects/openbroadcast">Development</a>
					</li>
				</ul>
			</div>
			<div class="span3">
				<h5>Radio</h5>
				<ul class="unstyled">
					<li>
						<a href="https://www.openbroadcast.ch/mod/scheduler/scheduleMain.php?view=week">Program</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/radio/listen/">How To Listen</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/radio/program/">Program Concept</a>
					</li>
				</ul>
			</div>
			<div class="span3">
				<h5>About us</h5>
				<ul class="unstyled">
					<li>
						<a href="http://blog.openbroadcast.ch/en">Blog</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/openbroadcast/mission/">Mission</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/openbroadcast/history/">History</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/aboutus/events/">Events</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/aboutus/contact/">Contact</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/aboutus/press/">Press</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/openbroadcast/donate/">Donations</a>
					</li>
				</ul>
			</div>
			<div class="span3">
				<h5>Help &amp; Support</h5>
				<ul class="unstyled">
					<li>
						<a href="http://blog.openbroadcast.ch/en/support/faq/">FAQ</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/support/faq-platform/">FAQ Platform</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/support/screencasts/">Screencasts</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/support/couchcasting/">Couchcasting</a>
					</li>
					<li>
						<a href="http://blog.openbroadcast.ch/en/support/status/">Plattform Status</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span19 subline">
		<p>
			© Digris AG 2012 |

			Lessingstrasse 3,
			CH-8002 Zurich,
			Switzerland |
		</p>
	</div>
</div>
