{% load cms_tags %}


<!-- new version using vector icons-->
{% if icon %}
    <div class="inner">
        <div class="icon">
            <i class="icon {{ icon }}"></i>
        </div>
        <div class="title">
            <h1>{{ page_title }}{% page_attribute "page_title" %}</h1>
        </div>
    </div>




{% else %}
    <!--
    <div class="left icontitle green icon60-library">
    -->
    <div class="left icontitle green pull-right" style="padding: 24px 10px 24px 10px; font-size: 32px;">
        {{ page_title }}{% page_attribute "page_title" %}
    </div>
    <div class="clear"></div>

{% endif %}