{% load menu_tags %}

<div class="right">
	<ul>
		<li>
			<a href="#" style="border-right: none;" class="active" id="tagcloud_inline_toggle">Tagcloud</a>
		</li>
	</ul>
</div>

<div>
	<ul>
		
		{% show_menu 2 2 0 100 %}
		
		<li>
			<a href="/en/content/library/releases" class="on">Releases</a>
		</li>
		<li>
			<a href="/en/content/library/medias">Tracks</a>
		</li>
		<li>
			<a href="/en/content/library/artists">Artists</a>
		</li>
		<li>
			<a href="/en/content/library/labels">Labels</a>
		</li>
		<li>
			<a href="https://www.openbroadcast.ch/mod/medialibrary/pu_import/license">Upload Content</a>
		</li>
		<li>
			<a href="https://www.openbroadcast.ch/en/manual-ml">Help</a>
		</li>
	</ul>
</div>
<div class="clear"></div>