{% load menu_tags i18n %}

	<div>
		<div class="navright">
			<div class="right">
				<!-- account section -->
				<ul id="nav" class="horizontal unstyled"> 
			
					{% if user.is_authenticated %}
			        	<li><a href="{% url account_logout %}?next={{ request.get_full_path }}"><span>{% trans 'Signout' %}</span></a></li>
			        	<li><a href="{% url account_email %}"><span>{% trans 'Account' %} [{{ user.username }}]</span></a></li>
			        	{% if user.is_staff %}
						<li><a href="/admin/"><span>{% trans 'Administration' %}</span></a></li>
						{% endif %}
						{% if notice_unseen_count > 0 %}
						<li><a href="#">{% trans 'Messages' %}: {{ notice_unseen_count }}</a></li>
						{% endif %}
					{% else %}
			        	<li><a title="Login" href="{% url account_login %}?next={{ request.get_full_path }}" rel="modal:open"><span>{% trans 'Login' %}</span></a></li>
						<li><a title="Login" href="{% url account_signup %}?next={{ request.get_full_path }}" rel="modal:open"><span>{% trans 'Sign Up' %}</span></a></li>
			    	{% endif %}
			    </ul>
				<!-- // account section -->
					
			</div>
		</div>
		<div class="navleft">
			<div class="logo" style="float: left;">
				<a href="/" style="color: #777777; font-weight: bold;">open broadcast</a>
			</div>
			<ul class="left navigation-main">
				{% show_menu 0 1 100 100 "menu/navigation_main.html" %}
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="subnav">
		{% show_menu 0 1 100 100 "menu/navigation_sub.html" %}
	</div>
	<div class="clear"></div>