{% load menu_tags i18n notifications_tags activity_tags %}
{% notifications_unread as unread_count %}


	<div>
		<div class="navright">
			<div class="right">
				<!-- account section -->
				<ul id="nav" class="horizontal unstyled nav-profile"> 
			
					{% if user.is_authenticated %}
			        	<li><a href="{% url account_logout %}?next={{ request.get_full_path }}"><span><i class="icon-signout"></i> {% trans 'Logout' %}</span></a></li>
			        	<!--
			        	<li><a href="{% url account_email %}"><span>{% trans 'Account' %} [{{ user.username }}]</span></a></li>
			        	-->
			        	<li><a href="{% url profiles-profile-detail user %}"><span><i class="icon-cog"></i> {% trans 'Profile' %} [{% firstof user.get_full_name user.username %}]</span></a></li>
			        	
			        	
						
			        	
			        	
			        	{% if user.is_staff %}
						<li><a href="/admin/"><span><i class="icon-dashboard"></i> {% trans 'Administration' %}</span></a></li>
						{% endif %}
						{% if unread_count %}
						<li class="messages"><a href="#"><i class="icon-comment icon-white"></i><span class="icon-label">{{ unread_count }}</span></a></li>
						{% endif %}
					{% else %}
			        	<li><a title="Login" href="{% url account_login %}?next={{ request.get_full_path }}" rel="modal:open"><span><i class="icon-signin"></i> {% trans 'Login' %}</span></a></li>
						<li><a title="Login" href="{% url account_signup %}?next={{ request.get_full_path }}" rel="modal:open"><span><i class="icon-ok-sign"></i> {% trans 'Sign Up' %}</span></a></li>
			    	{% endif %}
			    </ul>
				<!-- // account section -->
					
			</div>
		</div>
		<div class="navleft">
			<div class="logo" style="float: left;">
				<a href="/" style="color: #777777; font-weight: bold;">open broadcast</a>
			</div>
			<ul class="left navigation-main">
				{% show_menu 0 1 100 100 "menu/navigation_main.html" %}
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	
	
	
	<!--
	<div class="notification-holder">
		<div class="message-list">
			<div class="message">
				<h2></h2>
				<p></p>
			</div>
		</div>
	</div>
	-->
	
	
	
	<div class="subnav">
		{% show_menu 0 1 100 100 "menu/navigation_sub.html" %}
	</div>
	<div class="clear"></div>