{% load calc i18n arating_tags %}

				<div class="list_body_row selectable item published {{ item.uuid }}" id="list_item_75206">
					<!-- Play icon -->
					<div class="list_body_item c1 action">
						<ul>
							<!-- Play link  -->
							<li class="play">
								<a href="{{ item.release.get_api_url }}#{{ forloop.counter0 }}#replace" title="Play" class="playable popup"><img src="http://openbroadcast.ch//media/img/base/spacer.png" width="16" height="16" alt="Play"></a>
							</li>
						</ul>

					</div>
					<!-- Tracknumber -->
					<div class="list_body_item c2">
						{{ item.tracknumber }}
					</div>
					<!-- Track title -->
					<div class="list_body_item c3 bold">
						{% include "alibrary/element/_inline_link.html" %}

						
					</div>
					<!-- Artist name -->
					<div class="list_body_item c4">
						{% with item=item.artist %}
						{% include "alibrary/element/_inline_link.html" %}
						{% endwith %}
					</div>
					<!-- Duration -->
					<div class="list_body_item c5">
						{{ item.base_duration|sec_to_time }}
					</div>
					<!-- Format / Bitrate -->
					<div class="list_body_item c6">
						
						
						{{ item.base_format|upper }} | {{ item.base_filesize|filesizeformat }}
						<!--{{ item.master.sample_rate }} kbps-->
					</div>
					<!-- License -->
					
					<div class="list_body_item c5 license {% if item.license %}{{ item.license.key }}{% endif %}">
						
						<!--
						<div class="rating">
							{# rating_for_object item #}
						</div>	
						-->
						
						<div class="left license">
						{% if item.license %}
							<a href="{{ item.license.get_absolute_url }}" title="License details" class="dialog disabled-modal"><img src="/static/img/icons/transparent_16x16.png" width="48" height="24" alt="License" class="noborder"></a>
						{% endif %}
						</div><div class="clear"></div>
					</div>

					
					<div class="list_body_item c8 action">
						<!-- Actions sub-view  -->
						<div class="wrapper">
							<div class="right">
								<ul>
									<li class="basket">
										<a href="#media:75206:default" title="Add to Basket" class="collectable"><img src="http://openbroadcast.ch//media/img/base/spacer.png" width="16" height="16" alt="Play"></a>
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li class="download">
										<a href="#media:75206:mp3" title="Download Media" class="downloadable queue"><img src="http://openbroadcast.ch//media/img/base/spacer.png" width="16" height="16" alt="Play"></a>
									</li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					
					
					
				</div>
