/* search */

div.autocomplete
  &.holder
    position: absolute
    width: 100%
    background-color: whiteSmoke
    z-index: 1001

    
    .result
      padding: 10px 5px 5px
      
      h1, h2, h3
        font-size: 12px !important
      
      .linkable
        cursor: pointer
      
      .search
        border-bottom: 1px solid #CCC
        h1
          margin-bottom: 0px !important
      
      .listing
        .item
          border-bottom: 1px solid #CCC
          background-repeat: no-repeat
          background-position: top right
          
          padding: 4px
          min-height: 42px
          
          h2
            text-transform: uppercase
            margin-bottom: 0px !important
          
          .related
            h3
              float: left
              margin-right: 4px
              text-transform: none
          
          em.highlight
            background: #DDFFD9
            color: #0b0
            padding: 0 2px
            font-style: normal
          
          &.hover
            background-color: #DDFFD9
            // color: #0b0
        
        
      
    
  


            