/* vars.sass */



$main-a: #00BB00
$main-b: #6633CC

$main-color: $main-a

$main-color-b: $main-a

$main-link-color: $main-b

$main-inverse-color: #FFFFFF

$main-content-background-color: #F5F5F5






// dimensions
$width-maincontent: 980px
$width-sidebar: 225px
$width-inner_content: $width-maincontent - 250px
$footer_fix-height: 20px


// paths
$image_path: unquote("/static/img/prototype/")
$picol16x: unquote("/static/img/icons/picol16x/")
$img-path: '/static/img/prototype/'