{% load spurl i18n truncate %}
<div class="searchbar hoverable">


    <!-- search field -->
    <div style="float: left;" class="search-input{% if get.q %} active{% endif %}">

        <div class="inner">
            <span>{% trans "Search" %}:</span>
            <input type="text" id="searchbar_input"
                   name="searchbar_input" placeholder="{% trans "Type to search" %}"
                   value="{% if get.q %}{{ get.q }}{% endif %}" class="blur"/>
            <a href="{% spurl base=request.get_full_path remove_query_param="q" %}"><i class="_icon icon-delete">&nbsp;</i></a>
        </div>

    </div>


    <!-- clear all search & filter button -->
    <div style="padding: 4px 3px 0px;" class="search-clear pull-right">
        {% if request.path != request.get_full_path %}
            <a class="pull-right clear-search" href="{{ request.path }}" title="{% trans "Clear Search" %}">
            <i class="icon icon-large icon-remove-sign"></i>
            <!--
                <img class="search_clear" src="/static/img/prototype/i_clearsearch.png" alt="Clear search"/>
            -->
            </a>
        {% endif %}
    </div>

    <!-- relation based filters-->
    <ul class="filter-bar unstyled horizontal">
        {% for filter in relation_filter %}
            <li>
                <a href="{% spurl base=request.get_full_path remove_query_param="page" remove_query_param=filter.item_type %}"
                   class="lfilter">
                      {{ filter.label }}: {{ filter.item }}
                      <i class="_icon icon-delete">&nbsp;</i>
                </a></li>
        {% endfor %}
    </ul>

    <!-- object based filters-->
    <ul class="filter-bar unstyled horizontal">
        {% for item in filter.filterlist %}{% for filter_entry in item.entries %}

            {% spurl base=request.get_full_path active_mquery="{{ item.name }}={{ filter_entry.0 }}" as is_active %}

            {% if is_active %}
                <li>
                    <a href="{% spurl base=request.get_full_path remove_query_param="page" trigger_mquery="{{ item.name }}={{ filter_entry.0 }}" %}"
                       class="lfilter">
                        {% firstof item.label item.name %}: {{ filter_entry.0 }}
                        <!-- unfortunately no fitting icon... so hacking -->
                        <i class="_icon icon-delete">&nbsp;</i>

                    </a>
                </li>
            {% endif %}

        {% endfor %}{% endfor %}
    </ul>

    <div class="clear"></div>

</div>

<div id="autocomplete_holder" class="autocomplete holder"></div>