<!doctype html>

{% load cms_tags sekizai_tags compress %} <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<!--head -->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# alibrary-anorg-net: http://ogp.me/ns/fb/alibrary-anorg-net#">
		{% include '_head.html' %} <!-- style and js-pre -->
		{% block extra_head %}{% endblock %}

		{% render_block "css" %}

		{% render_block "js-pre" %}

		{% block opengraph %}
		{% endblock %}
		<meta name="google-site-verification" content="ZaH5s0Vtq5GappaCQYRCMApmkky8XhArOU74i84CraE" />
	</head>
	<!--body -->
	<body class="base {% block body_class %}{% endblock %}">
		{% cms_toolbar %}


		<h1>TEST</h1>
		{% block inner %}
		{% endblock %}

		<!-- main javascript block -->
		{% render_block "js" %}

		<script type="text/javascript">
			//<![CDATA[//><!--

			var settings = settings || {};
			settings.debug = true;

			// local / window-dependent container
			var	local = local || {};
			local.type = 'main';

			var nj;


			// javascript init / user interface
			$(document).ready(function() {

				// passing some usefull variables for later use in js
				asite.vars.aplayer_width = 630;
				asite.vars.aplayer_height = 630;




				asite.base.init();

				asite.ui.init();
				asite.ui.plugins();

				aplayer.ui.init();
				aplayer.ui.playhead();

				{% render_block "dom-ready" %}

			});
			//--><!]]>
		</script>


		<!-- 3rd-party js initialisation (analytics, facebook etc) -->
		{% include "asite/js_init.html" %}

		<!-- verry last scripts -->
		{% render_block "js-post" %}

	</body>
</html>