{% extends "layout_base.html" %}
	

	{% block heading %}
	<!-- heading / icon (large one) -->
	<div id="heading">
		{% include "skeleton/heading.html" %}
	</div>
	<!-- heading / icon (large one) -->
	{% endblock %}
	
	
	{% block modnav %}
	<!-- start: intra-module navigation -->
	<div id="modnav">
		{% include "skeleton/modnav.html" %}
	</div>
	<!-- end: intra-module navigation -->
	{% endblock %}





	
	{% block inner %}
	<div class="content cms">
		{% block cms_main %}{% endblock %}
	</div>
	{% endblock %}
	

	{% block sidebar %}
	<div class="content cms">
		{% block cms_sidebar %}{% endblock %}
	</div>
	{% endblock %}
	


	
