{% extends "refactoring.html" %}

{% load menu_tags %}


	{% block toolbar %}
		{% include "skeleton/toolbar.html" %}
	{% endblock %}





	{% block main %}
	
	<!--
	<div id="sitemessages"></div>
	-->
	
	<div class="span9">
		{% block tagcloud %}{% endblock %}
		{% block searchbar %}{% endblock %}
		{% block inner %}{% endblock %}
	</div>
		
	<div class="span3 sidebar">
		{% block sidebar %}{% endblock %}
	</div>
	

	<!--
	<div id="content-holder">
		<div class="left">

			<div id="splitpane-content">

				<div class="mp-list">

				</div>
				
			</div>
			<div id="footer" class="footer">
				
			</div>
		</div>

		<div id="splitpane-sidebar">

			
		</div>

	</div>
	-->

	{% endblock %}
		
