{% load compress cms_tags sekizai_tags value_from_settings esi %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% spaceless %}
    {% include "base/_common_script.html" %}
{% endspaceless %}
<head>
    {% include "_head.html" %}

    <!-- css -->
    {% render_block "css" %}
    {# render_block "css" postprocessor "compressor.contrib.sekizai.compress" #}

    <!-- js head -->
    {% render_block "js-head" %}
    {# render_block "js-head" postprocessor "compressor.contrib.sekizai.compress" #}

    <!-- webfonts -->
    {# include "lib/monotype.html" #}

    <script type="text/javascript">
        (function () {
            var config = {
                kitId: 'ubj1xfa',
                scriptTimeout: 3000
            };
            var h = document.getElementsByTagName("html")[0];
            h.className += " wf-loading";
            var t = setTimeout(function () {
                h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, " ");
                h.className += " wf-inactive"
            }, config.scriptTimeout);
            var tk = document.createElement("script"), d = false;
            tk.src = '//use.typekit.net/' + config.kitId + '.js';
            tk.type = "text/javascript";
            tk.async = "true";
            tk.onload = tk.onreadystatechange = function () {
                var a = this.readyState;
                if (d || a && a != "complete" && a != "loaded")return;
                d = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (b) {
                }
            };
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(tk, s)
        })();
    </script>


</head>


<!-- start: body -->
<!--
<body id="body" class="base">
-->
<body id="body" class="base {% block body_class %}{% endblock %}" data-spy="scroll" data-target=".subnav"
      data-offset="50">
{% cms_toolbar %}
<div id="dim_content" style="display: none;"></div>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- toolbar -->
            {% block toolbar %}{% endblock %}
            <!--/ toolbar -->
        </div>
    </div>
</div>

<div class="container main">


    <header class="subhead" id="overview">
        <div class="row">


            <div class="span9">
                {% block heading %}{% endblock %}
                <div class="subnav">
                    {% block modnav %}{% endblock %}
                </div>
            </div>

            <div class="span3">
                {# include "aplayer/_inline.html" #}
            </div>

        </div>

    </header>


    <section id="global">
        <!--
        <div class="page-header">
            <h1>Global styles <small>for CSS reset, typography, and links</small></h1>
        </div>
        -->


        {% if messages %}
            <div class="row">
                <div class="span9 messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}



        <!-- col&co handling inside block -->
        {% block main %}{% endblock %}


    </section>


    <footer class="footer" id="footer">

        <div class="row">
            <div class="span9">
                {% show_placeholder "footer" "base" %}
            </div>
        </div>
        <div class="row">
            <div class="span19 subline">
                {% include "skeleton/footer.html" %}
            </div>
        </div>


    </footer>


</div>


<!-- start: wrapper_main -->
<div id="wrapper_main">


    <!-- main container -->
    <div id="container">
        <div class="hfixw" id="maincontent">
            {% comment %}
				{% block main %}{% endblock %}
				{% endcomment %}
        </div>
    </div>
    <!--/ main container -->

</div>
<!-- end: wrapper_main -->
<!-- start: additional divs -->
<div id="refresh"></div>
<!-- end: additional divs -->
<!-- start: dialog/ui -->
<!-- Alert Dialog -->
<div class="dialog window" id="dialog_alert" style="display: none;">
    <h1>DIALOG</h1>

    <p>
        text.....
    </p>
</div>
<!-- end: dialog/ui -->
<!-- start: js_footer -->


<!-- js-head -->

<!--/ js-head -->

<!-- js -->
{% render_block "js" %}
<!--/ js -->

<!-- js-post -->
{% render_block "js-post" %}


{% include 'autocomplete_light/static.html' %}
<!--/ js-post -->


<!-- end: js_footer -->

<!-- start: js_init -->
<script type="text/javascript">
    //<![CDATA[//><!--
    $(document).ready(function () {
        /* js general init functions */

        if (!nunjucks.env) {
            nunjucks.env = new nunjucks.Environment(new nunjucks.HttpLoader('{{ STATIC_URL }}'));
        }
        nj = nunjucks.env;

        nj = nunjucks_register_filters(nj);


        // debug.setLevel(0);

        /*
         pusher = new PusherApp;
         pusher.socket_url = '
        {% value_from_settings "SOCKETIO_URL" %}';
         pusher.init();
         */


        base.ui.init();

        aplayer.ui.init();


        base.ui.skeleton();
        base.ui.iface();
        base.ui.loading();
        base.ui.toolbar();
        base.ui.searchbar();
        base.ui.tagcloud();
        base.ui.sidebar();
        base.ui.listview();
        base.ui.itemview();
        base.ui.load_state();
        base.ui.tracklist();
        base.ui.dialog();


    });

    $(window).unload(function () {

        base.ui.unload();

    });

    //--><!]]>
</script>
<!-- end: js_init -->
<!-- the fb-root element -->
<div id="fb-root" style="display: none;"></div>
<script type="text/javascript">
    var base = base || {};
    base.vars = base.vars || {};

    base.vars.context = 'content';
    base.vars.section = 'library';
    base.vars.subset = 'releases';
    base.vars.action = '';
    base.vars.base_url = '/';
    base.vars.legacy_url = 'https://www.openbroadcast.ch/';
    base.vars.js_path = '/media/js/';
    base.vars.irc_chat_url = 'http://webchat.freenode.net/?channels=openbroadcast';

    base.vars.ga_track_events = false;

    base.vars.user_id = '5';
    base.vars.username = 'jonas';

    base.vars.list_highlight = false;

</script>
<script type="text/javascript">
    /*
     window.fbAsyncInit = function() {
     FB.init({
     appId : '143733768986545',
     status : true,
     cookie : true,
     xfbml : true,
     reloadIfSessionStateChanged : true
     });

     FB.Event.subscribe('auth.sessionChange', function(response) {
     window.location.reload();
     });
     }; ( function() {
     var e = document.createElement('script');
     e.async = true;
     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
     document.getElementById('fb-root').appendChild(e);
     }());
     */
</script>
</body>
</html>
