/* ---------- modul scheduler ------------*/

#scheduler{
	font-size:11px;
	line-height:16px;
	background-color:#fff;
}
#scheduler table{
	padding:0px;
}
#scheduler td {
	border:1px solid #bbb;
	padding:0px; 
}

/* ---------- haead ------------*/
#scheduler-head {
	width:100%;
}
#scheduler-head th{
	border:none;
	height:49px;
	padding:0px;
}



/* ---------- table_headers ------------*/

#scheduler .ps-header{
	padding:4px 4px 2px 4px;
}
#scheduler .ps-header.legend{
	color:#999;
}

#scheduler .ps-header div{
	height:16px;
	overflow:hidden;
}
#scheduler .ps-header.num{
	background-image:url(../img/scheduler_header_num_bg.png);
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
#scheduler .ps-header.num.wk{
	background-image:url(../img/scheduler_header_numwk_bg.png);
}
#scheduler .ps-header.locked{
	background-color:#fcd8d9;
}
#scheduler .img{
	border-right:0px;
	padding:3px 0px 3px 3px;
}
#scheduler .text{
	border-left:0px;
}
#scheduler .daylocked{
	float:right;
	color:#FF0000;
}

/* ---------- table time daypart ------------*/
#scheduler .ps-daypart{
	border-bottom:0px;
}
#scheduler .ps-daypart .dpnum{
	border-bottom:1px solid #ddd;
}
#scheduler .ps-daypart .inner{
	padding:3px 4px 4px 6px;
	color:#000;
	text-transform:uppercase;
}
#scheduler .ps-daypart .time{
	padding:3px 4px 4px 6px;
	color:#999;
	width:36px;
}
#scheduler .ps-daypart .info{
	float:right;
	padding:3px;
}


/* ---------- table_content ------------*/


#scheduler .ps-content{
	//position:absolute;
	border-bottom:0px;
}
#scheduler .ps-content-inner{
	height:576px;
	//overflow:hidden;
}
#scheduler .ps-content-innerday{
	overflow:hidden;
}
#scheduler .msg{
	border-top:1px solid #bbb;
	padding:5px 0px 5px 0px;
}
#scheduler .bg{
	background-image:url(../img/scheduler_bg.png);
}
#scheduler .bg-wk{
	background-image:url(../img/scheduler_bg_wk.png);
}
#scheduler .today a{
	font-weight:bold;
	text-decoration:underline;
}
#scheduler .item{
	position:absolute;
	border-top:1px solid #8787BE;
	border:1px solid #444;
	background:url(../img/scheduler_item_bg.png);
	margin-left:-1px;
	color:#000;
}
#scheduler .item a{
	color:#000;
}
#scheduler .item:hover{
	background:url(../img/scheduler_item_bg_h.png);
}

#scheduler .item table{
	width:100%;
	
}
#scheduler .item table td{
	border:0px;
	padding:2px 5px 2px 5px;
}
#scheduler .item .mp{
	background:url(../img/list_play_button2_s.png) no-repeat 2px 2px;
}
#scheduler .item .content{
	padding:2px 2px 2px 4px;
}

#scheduler .alert{
	margin-left:-1px;	
	overflow:hidden;
	background:#ff0000;
}
#scheduler .alert:hover{
	background:#ff3333;
}
#scheduler .missing{
}
#scheduler .missing:hover{
	background:url(../img/scheduler_miss_bg_h.png);
	
}
#scheduler .com{
	position:absolute;
	width:10px;
	background:#ff00ff;
	height:4px;
}


/* ---------- masterpanel ------------*/

#masterpanel{
	border:1px solid #999;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	background:#ddffd9;
	width:210px;
	height:63px;
	margin-bottom:-20px;
	padding:2px 5px 2px 5px;
	line-height:14px;
}
#masterpanel .track{
	padding:2px 0px 2px 0px;
}
#masterpanel .track.off{
	color:#999;
}
#masterpanel .small{
	color:#555;
	line-height:13px;
}
#masterpanel .track.off .small{
	color:#999;
}


/* ---------- activities ------------*/

#scheduler .ps-footer{
	border:1px solid #fff;
	padding:3px 2px 3px 4px;
	font-size:12px;
	height:15px;
	//background-color:#fff;
}
#scheduler .ps-footer.corner{
	border:1px solid #fff;
}