@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\000034}}
.wrapper.social {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\000039}}
.textplugin_holder p > img {
  padding: 0 10px 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000313}}
#root {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000322}}
.sidebar ul, .sidebar ol {
  list-style-type: none;
  margin: 0 0 9px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000326}}
.sidebar .widget {
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #d5d5d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000330}}
.sidebar h3 {
  text-transform: none;
  font-size: 110%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000338}}
.sidebar .search img {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000342}}
.sidebar #widget-tags ul > li {
  float: left;
  padding: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000345}}
.sidebar #widget-tags ul > li a {
  padding: 2px;
  background-color: #8fbe00;
  line-height: 15px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000350}}
.sidebar #widget-tags ul > li a:hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000354}}
.sidebar #widget-calendar table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000356}}
.sidebar #widget-calendar table caption {
  padding: 3px 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000358}}
.sidebar #widget-calendar table th {
  padding: 3px 0 5px;
  color: #5a5a5a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000361}}
.sidebar #widget-calendar table tr > td {
  padding: 3px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000364}}
.sidebar #widget-calendar table tr > td.entry a {
  padding: 2px;
  background-color: #8fbe00;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000368}}
.sidebar #widget-calendar table tr > td.entry a:hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000374}}
.sidebar #widget-archives > ul > li > a {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000377}}
.sidebar #widget-archives > ul > li ul {
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000384}}
.blog.container {
  padding: 0 10px 20px 0px;
  width: 830px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000389}}
.blog.container ul, .blog.container ol {
  list-style-type: none;
  margin: 0 0 9px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000393}}
.blog.container .textplugin_holder {
  background: transparent !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000395}}
.blog.container .textplugin_holder * {
  color: #333333 !important;
  background-color: transparent !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\0000399}}
.blog.container h3 {
  font-size: 130%;
  line-height: 180%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003104}}
.blog.container .search {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003107}}
.blog.container .hentry {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003111}}
.blog.container .hentry .entry-image a {
  padding: 1px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003113}}
.blog.container .hentry .entry-image a:hover {
  background: transparent !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003115}}
.blog.container .hentry .entry-image a:hover img {
  padding: 1px;
  background: #8fbe00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003123}}
.blog.container .hentry a {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003129}}
.blog.container .hentry .entry-image img {
  clear: both;
  width: 646px;
  padding: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003134}}
.blog.container .hentry .entry-footer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #d5d5d5;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003142}}
.blog.container .hentry .entry-tags a {
  padding: 2px 4px !important;
  margin-right: -4px;
  background-color: #8fbe00;
  line-height: 18px;
  color: white;
  text-decoration: none;
  color: white !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003150}}
.blog.container .hentry .entry-tags a:hover {
  color: black !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003154}}
.entry-widgets {
  background: #efefef;
  padding: 10px 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003157}}
.entry-widgets > div {
  width: 210px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003161}}
#pingbacks {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003164}}
#comments {
  padding-top: 10px;
  margin-top: 30px;
  border-top: 1px solid #d5d5d5;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003170}}
#comments #comment-list .comment {
  clear: both;
  background: #fafafa;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003173}}
#comments #comment-list .comment:nth-child(2) {
  background: #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003176}}
#comments #comment-list .comment img {
  float: left;
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003184}}
#comment-form {
  background: transparent !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003187}}
#comment-form textarea {
  width: 99%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003191}}
#comment-form fieldset > div {
  padding: 4px 0;
  margin: 4px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003196}}
#comment-form fieldset > div label {
  display: block;
  padding: 0 0 0 1px;
  color: #5a5a5a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003200}}
#comment-form fieldset > div input {
  background: #fafafa;
  padding: 2px;
  width: 99%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ohrstrom\/Documents\/Code\/openbroadcast\.ch\/website\/site-static\/sass\/blog\/screen\.sass}line{font-family:\00003209}}
#comment-form fieldset > div.error input, #comment-form fieldset > div.error textarea {
  background-color: #fffc9d;
}
