{% extends "layout_base.html" %}

{% load truncate i18n thumbnail arating_tags wiki_tags %}

{% block heading %} <!-- heading / icon (large one) -->
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
<div class="item_detail" style="">

	<section>
		<div class="row iteminfo release">
			{% include "alibrary/artist/_detail_info.html" %}
		</div>
	</section>

	<div class="item_menu" id="item_menu">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tracklist" data-toggle="tab">{% trans "Tracklist" %}</a>
			</li>
			<li>
				<a href="#history" data-toggle="tab">{% trans "History" %}</a>
			</li>
		</ul>
	</div>

	<div class="clear"></div>

	<section class="tabbed item_inner">

		<div class="tab-content">

			<div class="tab-pane active" id="tracklist">

				<div class="listview container medias inner s">

					<div class="list_header"></div>

					<div class="list_body">
						{% for item in object.get_media %}
						{% include "alibrary/media/_list_item_xs.html" %}
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="tab-pane" id="history">

				

				
				<!--
				<table class="table table-condensed history">

					<thead>
						<tr>
							<th>User</th>
							<th>Time</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>

						{% for r in object.get_versions.all %}
						<tr>
							<td><a href="{{ r.revision.user.get_profile.get_absolute_url }}">{{ r.revision.user }}</a></td>
							<td>{{ r.revision.date_created }}</td>
							<td>{{ r.revision.comment }}</td>

						</tr>

						{% endfor %}

					</tbody>
				</table>
				-->

			</div>

			<div class="tab-pane" id="broadcasts">
				...
			</div>
		</div>

	</section>

	<section class="description">

		<div class="description markdown padded-h">
			{% wikify object.name %}
		</div>

	</section>

</div>

{% endblock %}

{% block sidebar %}
{% include "alibrary/release/sidebar/_detail.html" %}
{% endblock %}
