{% extends "layout_base.html" %}

{% load truncate i18n thumbnail arating_tags markup %}

{% block heading %} <!-- heading / icon (large one) -->
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
<div class="item_detail" style="">

	<section>
		<div class="row iteminfo">

			<div class="span9 padded container_content">
				
				<div class="page-header">
					<h2>{{ object.name|truncate_chars_inner:40 }} <small>{% trans "License" %}</small></h2>
				</div>
				
				<dl class="dl-horizontal main">

					<dt>
						{% trans "Version" %}:
					</dt>
					<dd>
						{{ object.id }}
					</dd>

					<dt>
						{% trans "Created" %}:
					</dt>
					<dd>
						{{ object.created|date:"SHORT_DATE_FORMAT" }}
					</dd>

					<dt>
						{% trans "Last Update" %}:
					</dt>
					<dd>
						{{ object.updated|date:"SHORT_DATE_FORMAT" }}
					</dd>

				</dl>

				<dl class="dl-horizontal license">

					<dt>
						{% trans "Icon" %}:
					</dt>
					<dd>
						<div class="license {{ object.key }}">
							<a href="{{ object.get_license.get_absolute_url }}" title="License details" class="dialog disabled-modal"><img src="/static/img/icons/transparent_16x16.png" width="78" height="24" alt="License" class="noborder"></a>
						</div>
					</dd>

				</dl>

			</div>

		</div>
	</section>
	
	<div class="item_menu" id="item_menu">
	</div>
	<div class="clear"></div>

	
	
	
	
	
<section id="license">
  <div class="page-header padded">
    <h3>Excerpt <small>Short form...</small></h3>
  </div>

  <div class="row">
    <div class="span9 padded">
		<p>{{ object.excerpt|linebreaks }}</p>
    </div>
  </div>
  <div class="page-header padded">
    <h3>Excerpt <small>Short form...</small></h3>
  </div>

  <div class="row">
    <div class="span9 padded">
		<p>{{ object.license_text|markdown:"safe" }}</p>
    </div>
  </div>
  
  
</section>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</div>

{% endblock %}

{% block sidebar %}
{% include "dummy/release_listing_sidebar.html" %}
{% endblock %}
