{% extends "layout_base.html" %}

{% load truncate i18n thumbnail arating_tags wiki_tags disqus_tags comments %}

{% block heading %} <!-- heading / icon (large one) -->
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}



<div class="item_detail" style="">

	<section>
		<div class="row iteminfo release">
			{% include "alibrary/playlist/_detail_info.html" %}
		</div>
	</section>

	<div class="item_menu" id="item_menu">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tracklist" data-toggle="tab">{% trans "Tracklist" %}</a>
			</li>
			<li>
				<a href="#history" data-toggle="tab">{% trans "History" %}</a>
			</li>
		</ul>
	</div>

	<div class="clear"></div>

	<section class="tabbed item_inner">

		<div class="tab-content">

			<div class="tab-pane active" id="tracklist">

				<div class="listview container medias inner s">

					<div class="list_header"></div>

					<div class="list_body">
						{% for item in object.items.all %}

						{% if item.content_type.model == "media" %}
							{% with item=item.content_object %}
							{% include "alibrary/media/_list_item_xs.html" %}
							{% endwith %}
						{% endif %}

						{% if item.content_type.model == "release" %}
							{% with item=item.content_object %}
							<h1>{{ item.name }}</h1>
							{% endwith %}
						{% endif %}
						
						
						{% endfor %}
					</div>
				</div>
			
			</div>

			<div class="tab-pane" id="history">

				

				
				<!--
				<table class="table table-condensed history">

					<thead>
						<tr>
							<th>User</th>
							<th>Time</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>

						{% for r in object.get_versions.all %}
						<tr>
							<td><a href="{{ r.revision.user.get_profile.get_absolute_url }}">{{ r.revision.user }}</a></td>
							<td>{{ r.revision.date_created }}</td>
							<td>{{ r.revision.comment }}</td>

						</tr>

						{% endfor %}

					</tbody>
				</table>
				-->

			</div>

			<div class="tab-pane" id="broadcasts">
				...
			</div>
		</div>

	</section>

	<section class="description">

		<div class="description markdown padded-h">
			{# wikify object.description #}
		</div>

	</section>


	<!-- comment testing -->
	<section class="comments on-site">
	{% if user.is_authenticated %}
		{% render_comment_form for object %}
	{% else %}
		<p>Login to chat.</p>
	{% endif %}
	
	<!-- TODO: maybe move to template tag.. just testing here... -->
	{% with router=object.get_api_url %}
	{% include "element/chat/_message_list.html" %}
	{% endwith %}
	
	{% render_comment_list for object %}
	</section>
	
	<section class="comments disqus">
	{# disqus_show_comments #}
	</section>
	
</div>




{% endblock %}

{% block sidebar %}
{% include "alibrary/playlist/sidebar/_detail.html" %}
{% endblock %}
