{% extends "layout_base.html" %}

{% load truncate i18n thumbnail arating_tags wiki_tags %}

{% block heading %} <!-- heading / icon (large one) -->
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
<div class="item_detail" style="">

	<section>
		<div class="row iteminfo release">
		{% include "alibrary/release/_detail_info.html" %}
		</div>
	</section>

	<div class="item_menu" id="item_menu">
		<ul class="">
			<li class="on">
				<a class="on" href="#">Tracklist</a>
			</li>
			<li class="">
				<a class="" href="#">Tracklist</a>
			</li>
		</ul>
	</div>
	<div class="clear"></div>

	<div class="item_inner">
		<div class="listview container medias inner s">
			<div class="list_header"></div>

			<div class="list_body">
				{% for item in object.get_media %}
				{% include "alibrary/media/_list_item_xs.html" %}
				{% endfor %}
			</div>
		</div>

	</div>
	
	
	<section class="description">
		
		<div class="page-header padded-h">
			<h2>{% trans "Description" %}</h2>
		</div>
		
		<div class="description markdown padded-h">
			{% wikify object.description %}
		</div>
		
	</section>
	
	
</div>

{% endblock %}

{% block sidebar %}
{% include "alibrary/release/sidebar/_detail.html" %}
{% endblock %}
