{% extends "layout_base.html" %}

{% load crispy_forms_tags %}

{% load thumbnail i18n truncate %}

{% block heading %} <!-- heading / icon (large one) -->
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
<div class="item_detail" style="">

	<!--
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
	-->

	<section>
		<div class="row iteminfo release">
			{% include "alibrary/release/_detail_info.html" %}
		</div>
	</section>

	<div class="item_menu" id="item_menu"></div>

	<div class="clear"></div>

	<div class="item_inner">
		
		
		<form class=" form-horizontal" method="post" id="id_feedback_form_asd" enctype="multipart/form-data">



			{{ form.management_form }}
			{{ relation_form.management_form }}
			{{ releasemedia_form.management_form }}
			
			
			{% crispy form %}
			


			<fieldset>
				<legend>Tracklist</legend>
			</fieldset>
			
			{% crispy releasemedia_form %}



			<fieldset>
				<legend>Relations<span class="pull-right">Help</span></legend>
			</fieldset>
			
			{% crispy relation_form %}


			<!--
			{{ releasemedia_form.management_form }}
			{% for form in releasemedia_form %}
			{{ form.id }}
			<div class="form-row inline {{ bookimages_formset.prefix }}">
				{{ form.name.label_tag }}
				{{ form.name }}
				{{ form.tracknumber }}
				{{ form.mediatype }}
				{{ form.name.errors }}
			</div>
			{% endfor %}
			-->
		</form>

	</div>

</div>

{% endblock %}

{% block sidebar %}
{% include "alibrary/release/sidebar/_edit.html" %}
{% endblock %}
